body {
  /* background: rgb(186, 186, 193);
  background: linear-gradient(
    90deg,
    rgba(186, 186, 193, 1) 0%,
    rgba(58, 27, 236, 1) 0%,
    rgba(0, 212, 255, 1) 88%
  ); */
}

/* CABEÇALHO */
.cabeçalho {
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  border-bottom: 0px groove #000000;
  border-radius: 0px 0px 15px 15px;
}

.imagem_cabeçalho {
  width: 80px;
  height: 80px;
}

/* CONTEINER 1 */

.conteiner1_apresentacao {
  text-align: center;
  margin-top: 3%;
  padding: 50px;
}

.conteiner1_apresentacao > h1 {
  margin-bottom: 30px;
}

.conteiner1_apresentacao > h2 {
  margin-bottom: 10px;
}

.conteiner1_apresentacao > img {
  width: 250px;
  margin-bottom: 10px;
}

/* CONTEINER2 */

.conteiner2 {
  margin: 0% 25% 0% 25%;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 30px;
}

.conteiner2 > p {
  margin-top: 2%;
  font-size: 20px;
}

.conteiner2 > img {
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

/* CONTEINER 3 (EXPERIÊNCIA) */

.conteiner3 {
  margin: 5% 25% 5% 25%;
  background-color: #c8c8c8;
  border-radius: 10px;
  padding: 30px;
}

.quadrados {
  display: flex;
  /* width: 150px;
  height: 150px; */
}

.conteiner3 > h1 {
  margin-bottom: 5%;
}

.frontend_conteiner3 {
  background-color: white;
  border-radius: 6px;
  width: 250px;
  height: 150px;
  margin: 30px;
}

progress {
  /* width: 40%; */
  accent-color: #c8c8c8;
  height: 20px;
  margin-bottom: 3%;
  width: 80;
}
