/* CABEÇALHO */
.cabeçalho {
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  border-bottom: 0px groove #000000;
  border-radius: 0px 0px 15px 15px;
}

.imagem_cabeçalho {
  width: 80px;
  height: 80px;
}

/* CONTEINER 1 */

.conteiner1_apresentacao {
  text-align: center;
  margin-top: 3%;
  padding: 50px;
}

.conteiner1_apresentacao > h1 {
  margin-bottom: 30px;
}

.conteiner1_apresentacao > h2 {
  margin-bottom: 10px;
}

.conteiner1_apresentacao > img {
  width: 250px;
  margin-bottom: 10px;
}

/* CONTEINER2 */

.conteiner2 {
  margin: 0% 25% 0% 25%;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 30px;
}

.conteiner2 > p {
  margin-top: 2%;
  font-size: 20px;
}

.conteiner2 > img {
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.conteiner2 > hr {
  height: 3px;
  width: 65%;
  margin-top: 5%;
  background-color: #00f351;
  border: none;
}

/* CONTEINER 3 (EXPERIÊNCIA) */

.conteiner3 {
  margin: 5% 25% 5% 25%;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.conteiner3 > h1 {
  margin-bottom: 5%;
}

.frontend_conteiner3 {
  background-color: #e0dddd;
  margin: 1%;
  border-radius: 5px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontend_conteiner3 > p {
  margin-left: 45%;
}

progress {
  accent-color: #00f351;
  height: 20px;
  margin-bottom: 3%;
  width: 50%;
}

/* CONTEINER 4 (parte de contato) */

.conteiner4 {
  margin: 5% 25% 5% 25%;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.conteiner4 > h1 {
  margin-bottom: 5px;
}
